doctype html 5
html
	head
		title My Page
		link(rel="stylesheet", type="text/css", href="style/style.css")
		script(data-main="/js/boot", type="text/javascript", src="/js/libs/require.js")

	body
		h1 Empreeesta